:root {
    --background-color: #F2F2F2;
    --dark-grey:#222222;
    --light-grey: #dddddd;
    --primary-color: #006ff9;
    --secondary-color: #005ff3; 
    --primary-color-light: #85bcff;
}
    
* {

margin: 0;
padding: 0;
box-sizing: border-box;
/*outline: 2px solid red;*/
}

body {
font-family: "Poppins";
min-width: 370px;
max-height: 900px;
overflow-x: hidden;
}

.container{
    margin:2em 0.8em 0 0.8em;
    display: flex;
    justify-content: space-between;
}

.posts-container{
    padding: 1em 0 1em 0;
}

#cont-add-admin{
    display: flex;
    justify-content: center;
}

#signin-cont{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#signin-seg .title{
    font-size: 1.8rem;
}

#signin-seg .name{
    font-size: 1.3rem;
}

#signin-seg .text-field{
    height: 44px;
}

#signin-seg .text-field input{
    font-size: 1rem;
    margin-top: 0.7em;
}

#signin-seg .text-field input::placeholder{
    font-size: 1rem;
}

#signin-seg .name{
    margin-top: 0.6em;
}

#signin-seg .submit{
    font-size: 1.1rem;
}

#signin-seg .bottom-name{
    margin-top: 1.4em;
}

#signin-seg .text-field span::before{
    top: 42px;
}

#signup-dir{
    color: #adadad;
    font-size: 1rem;
    margin-top: 1.7em;
    text-decoration: none;
}

#signup-dir a{
    color: white;
    margin-left: 0.3em;
    text-decoration: none;
}

#signup-dir a:hover{
    text-decoration: underline;
}

#login-seg{
    width: 400px;
    height: 300px;
}

#welcome{
    font-size: 3em;
    text-align: center;
    margin-top: 0.5em;
}

.center{
    display: flex;
    justify-content: center;
}

#welcome-desc{
    text-align: center;
    font-size: 1.3em;
}

.vid-cont{
    position: relative;
    height: 500px;
}

video {
    left: 50%;
    top:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.segment{
    position: relative;
    color: white;
    width: 45vw;
    height:350px;
    max-width: 800px;
    background-color: #006ff9;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
}


.single-seg{
    width: 65vw;
    min-width: 300px;
}

.reset-seg{
    height: 400px;
}

#signin-seg{
    width: 80vw;
    height: 420px;
}

.add-user-seg,.add-user-seg-bottom{
    width: 90vw;
    height: 450px;
    overflow-y: auto;
}

.add-user-seg .submit{
    position: relative;
    margin-top: 3em;
    margin-bottom: 0.4em;
}

.add-user-seg .name{
    font-size: 0.9em;
}

.add-user-seg .drop-down{
    margin: 1.5em 0 1.5em 0;
}

.add-video-segment{
    height: 380px;
}

.title{
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.line{
    height: 1px;
    background-color: white;
    margin-top: 0.8em;
}

form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-top: 0;
    margin-bottom: 1em;
}

form{
    padding: 1em;
}

.text-field input{
    color: white;
    width: 100%;
    height: 25px;
    padding: 0 1px;
    font-size: 0.8rem;
    border:none;
    background:none;
    outline: none;
    margin: 0;
}

.text-field span::before{
    content: " ";
    position: absolute;
    left:0;
    top: 25px;
    width:0%;
    height: 2px;
    background: white;
}

::placeholder{
    font-size: 0.7rem;
    font-family: "Roboto";
    color: #adadad;
}

input:focus::placeholder {
    color: transparent;
  }

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
    width: 100%;
} 

.name{
    font-size: 0.8em;
    font-weight: 800;
}

.after-drop{
    margin:1.2em 0.3em
}

.submit{
    color: var(--primary-color);
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.7em 3em;
    background-color: white;
    cursor: pointer;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:20px;
    margin-top: 1em;
}

.submit:hover{
    padding: 0.9em 3.7em;
    transition: 0.5s;
}

.drop-down{
    font-size: 1.2em;
    border: 3px solid white;
    padding: 0.3em 0.6em;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.choose-file{
    margin-top: 1.5em;
    border: 3px solid white;
    display: flex;
    padding: 0.3em 0.6em;
    border-radius: 12px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
    white-space: nowrap;
    overflow-x: auto;
}

.choose-file span{
    font-weight: 100;
    margin-left: 0.5em;
}

#selected-drop{
    font-weight: 100;
}

.drop-down #drop-button{
    display: block;
    text-align: center;
    color: var(--primary-color);
    background-color: white;
    font-size: 0.6em;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    height: 15px;
    width: 22px;
}

#assign-drop{
    font-size: 0.65em;
}

.options-cont{
    position: absolute;
    height: 0;
    top:116px;
    width: 40px;
    right:1.5em;
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    overflow-y: auto;
    z-index: 701; /*More than exit options*/;
}


.remove-ans-wrapped,.change-acc-warpped,.change-ans-wrapped{
    top: 153px;
}

#drop-button:hover{
    cursor: pointer;
}

.wide-options{
    width:auto;
}

.open-options{
    height: 150px;
    transition: 0.5s;
}

.open-optionsg{
    height: 61px;
    transition: 0.4s;
}

.add-user-seg .options-cont{
    top: 258px;
}

.options-cont li{
    display: flex;
    justify-content: center;
    padding: 0.2em 1em;
}

.options-cont li:hover{
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.drop-down-avai{
    border-radius: 12px;
    margin-top: 0.9em;
    white-space: nowrap;
    overflow-x: auto;
}

.avai-options{
    top: 293px;
    width: 100px;
}

.avai-options-open{
    height: 61px;
    transition: 0.4s;
}

.table{
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    min-width: 360px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    min-height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-cont{
    overflow: auto;
    padding: 0 0.8em;
    max-height: 500px;
}

.table th, .table td{
    padding: 12px 15px;
}

.table thead th:not(:first-child){
    text-align: center;
}

.table tbody tr:not(:last-child){
    border-bottom: 1px solid lightgray;
}

.close{
    display: none;
}

#exit-drop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: 700;
}

.table-title{
    margin: 0.8em 0 0 0.6em;
    padding: 0;
}

.assistant-title{
    font-size: 1.2em;
}

.all-quest{
    padding:0.8em 0;
    height: 90vh;
    overflow-y: auto;
}

.qa-cont{
    position: relative;
    color: white;
    width: 90vw;
    background-color: #006ff9;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1em 2em;
    margin: 1em auto;
}

.qa-change .qa-cont{
    height: 250px;
}

.post-cont{
    padding: 1em 0;
    height: auto;
}


.view-cont{
    margin: 4em auto 1em auto;
    text-align:center;
}

.center-header{
    font-size: 2.5rem;
    margin-top: 0.6em;
    text-align: center;
}

#reset-desc{
    margin-top: 0.5em;
    font-size: 1em;
}

.check-cont{
    margin-top: 0.5em;
    margin-left: 0.9em;
}

.check-cont label{
    font-size: 1em;
}

.post-title{
    text-align: center;
}

.post-desc{
    text-align: center;
    margin: 1em 2em;

}



.post-cont a{
    color: var(--primary-color);
    text-decoration: none;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.7em 3em;
    background-color: white;
    cursor: pointer;
}
.post-cont a:hover{
    padding:0.9em 3.7em;
    transition: 0.5s;
}
.qa-change .name,.ask-quest-cont .name{
    font-size: 1.1rem;
    margin-bottom: 0.2em;
}

.qa-change .question{
    font-size: 1.3rem;
}

.all-assign{
    width: 100vw;

}

.assignment-correct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 80vw;
}

.assignment-correct a{
    color: var(--primary-color);
    border: none;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.7em 3em;
    background-color: white;
    cursor: pointer;
}

.assignment-correct a{
    font-family: "Poppins";
    color: var(--primary-color);
    text-decoration: none;
}

.assignment-correct a:hover{
    padding:0.8em 3.3em;
    transition: 0.5s;
}

.pop-up{
    font-size: 1.5rem;
    margin: 1em;
    font-weight: bold;
    text-align: center;
}

#submit-attachment{
    margin-top: 1.5em;
    margin-left: 0.2em;
}

.qa-change input{
    font-size: 1rem;
}

.admin-ans-cont .submit{
    font-size: 0.8em;
}

.qa-change input::placeholder{
    font-size: 1rem;
}

.qa-change form{
    margin: 0;
    padding: 0;
}

.quest-title, .answer-teacher-title, .answer-assistant-title{
    font-weight: bold;
}

.question{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
}

.ask-quest-cont{
    margin-top: 2em;
    height: 190px;
}

.ask-quest-cont .submit{
    font-size: 0.9em;
}

.ask-quest-cont input::placeholder{
    font-size: 0.9em;
}

.ask-quest-cont input{
    font-size: 0.9em;
}

.answer-teacher{
    font-size: 1em;
    margin-bottom: 0.3em;
}

.table thead{
    background-color: var(--primary-color);
    color: white;
}

.table thead th:first-child{
    border-radius: 10px 0 0 0;
}

.table thead th:last-child{
    border-radius: 0 10px 0 0;
}

.table::-webkit-scrollbar,.table-cont::-webkit-scrollbar,.all-quest::-webkit-scrollbar,.add-user-seg::-webkit-scrollbar,.choose-file::-webkit-scrollbar,.drop-down-avai::-webkit-scrollbar{
    height: 8px;
    width:8px;
}

.options-cont::-webkit-scrollbar{
    height: 3px;
    width: 3px;
    margin-right: 0.2em;
}

/* Track */
.table::-webkit-scrollbar-track,.table-cont::-webkit-scrollbar-track,.options-cont::-webkit-scrollbar-track,.all-quest::-webkit-scrollbar-track,.add-user-seg::-webkit-scrollbar-track,.choose-file::-webkit-scrollbar-track,.drop-down-avai::-webkit-scrollbar-track{
    background:transparent;
}

/* Handle */
.table::-webkit-scrollbar-thumb,.table-cont::-webkit-scrollbar-thumb,.options-cont::-webkit-scrollbar-thumb,.all-quest::-webkit-scrollbar-thumb{
    background-color:#c2c2c2;
    border-radius: 10px;
}

.add-user-seg::-webkit-scrollbar-thumb,.choose-file::-webkit-scrollbar-thumb,.drop-down-avai::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
}

@media screen and (min-width: 443px){
    .remove-ans-wrapped{
        top: 116px;
    }
}

@media screen and (min-width: 465px){
    .change-ans-wrapped{
        top: 116px;
    }
}

@media screen and (min-width: 565px){
    .change-acc-warpped{
        top: 116px;
    }
}

@media screen and (min-width: 600px){
    .title{
        font-size: 2em;
    }

    .add-user-seg .options-cont{
        top: 552px;
    }

    .segment{
        height: 430px;
    }

    .add-user-seg,.add-user-seg-bottom{
        height:500px;
    }

    #reset-desc{
        font-size: 1.2em;
    }

    .check-cont label{
        font-size: 1.1em;
    }

    #login-seg{
        width: 400px;
        height: 350px;
    }

    .submit:hover{
        padding: 0.8em 3.6em;
        transition: 0.5s;
    }

    .name{
        font-size: 1.1em;
    }

    .drop-down{
        font-size: 1.1em;
    }

    .add-user-seg .name{
        font-size: 1.3em;
    }

    #assign-drop{
        font-size: 1em;
    }

    .choose-file{
        font-size: 1em;
    }

    .choose-file span{
        font-size: 0.9em;
    }

    .text-field input{
        margin-top: 0.2em;
        height: 35px;
    }

    .text-field span::before{
        top: 38px;
    }

    ::placeholder{
        font-size: 0.9em;
    }

    .options-cont{
        top: 138px;
    }

    .add-user-seg .title{
        margin-top: 0.55em;
    }

    .add-user-seg li{
        padding-left: 1em;
    }

    .change-acc-warpped{
        top: 186px;
    }

    .add-video-segment #options1{
        top: 394px;
        overflow-y: hidden;
    }

    #signin-seg .text-field input{
        height: 25px;
    }
    #signin-seg .text-field{
        height: 44px;
    }
    #signin-seg .text-field span::before{
        top: 42px;
    }
    .text-field input{
        font-size: 1rem;
    }

    .add-user-seg .options-cont{
        top: 330px;
    }

    .submit,.admin-ans-cont .submit{
        font-size: 1em;
    }

    .avai-options{
        top: 367px;
    }

    .add-video-segment{
        height: 450px;
    }

    .drop-down-avai #selected-drop{
        font-size: 0.85em
    }
}

@media screen and (min-width: 752px){
    .change-acc-warpped{
        top: 138px;
    }
}

@media screen and (min-width: 1000px){
    .container-manage-user{
        display: flex;
        justify-content: center;
    }
    .container-manage-user .segment{
        width: 45vw;
    }
}